body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    background-color: black;
    display: grid;
    gap: 4px;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
    width: 12rem;
    height: 4rem;
}

.cell {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;

}

.cell:hover {
    background-color: lightgrey;
}
